.todo-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 4rem;
}
h1{
  font-size: 3rem;
}

button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(125, 47%, 55%);
}
.add-button:hover{
  background-color: hsl(125, 47%, 45%);
}
.delete-button{
  background-color: hsl(0, 73%, 61%);
}
.delete-button:hover{
  background-color: hsl(0, 73%, 51%);
}
.move-button{
  background-color: hsl(207, 90%, 65%);
}
.move-button:hover{
  background-color: hsl(207, 90%, 55%);
}

input[type="text"]{
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid hsla(0, 80%, 0%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  /*these properties tell the element to take as much space as possible*/
  /*could also use (flex: 1;)*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

